

body {
    font-size: 16px;
}

header {
    margin-bottom: 20px;
}
header .container {
    background-image: url('images/header.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
    padding: 0;
    height: 300px;
    border-bottom-left-radius: 20px;
}
header h1 {
    bottom: 0;
    background-color: rgba(255, 255, 255, .3);
    color: white;
    text-shadow: 1px 1px 1px #000;
    line-height: 2;
    text-align: right;
    margin: 0;
    padding-right: 10px;
    position: absolute;
    width: 100%;
}

/* form */
.form-group.row {
    border-bottom: 1px solid #ccc;;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.friends-wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; 
}
.card {
    width: 23%;
    margin-bottom: 30px;
}